/* tetris-uputstvo */

#uputstvo p {
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#uputstvo,
table.shape-picker,
div.settings,
body#uputstvoHTML {
    /* background-color: #ebf79c; */
    background-color: #ccc98e;
}

table.shape-picker {
    margin: 20px;
    border: 5px solid black;
}

td.shape-picker {
    width: 35px;
    border: 0px solid white;
}

.difficulty label {
    font-size: 20px;
}

button#start {
    background-color: #f7b614;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
}

button#start:hover {
    background-color: #ebf79c;
}


/* tetris-igra */



/* tetris-rezultati */


#info {

    background-color: gray;
}

#mainPlayArea {
    background-color: #ebf79c;
    padding: 40px;
}

tr {
    height: 35px;
    margin: 5px;
}

td {
    width: 35px;
    border: 1px solid black;
    border-left-width: 1px;
    border-right-width: 1px;
}



#mainPlayArea table {
    border: 5px solid black;
}







td.red {
    border: 5px solid rgb(96, 0, 0);
    background-color: rgb(201, 64, 64);
}

td.green {
    border: 5px solid darkgreen;
    background-color: rgb(42, 176, 42);
}

td.blue {
    border: 5px solid darkblue;
    background-color: rgb(83, 145, 181);
}

td.yellow {
    border: 5px solid #f7b614;
    background-color: yellow;
}

td.purple {
    border: 5px solid rgb(42, 4, 42);
    background-color: rgb(190, 9, 190);
}

td.orange {
    border: 5px solid rgb(104, 60, 6);
    background-color: orange;
}

td.cyan {
    border: 5px solid darkcyan;
    background-color: cyan;
}