/* tetris-uputstvo */

#uputstvo p {
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebf79c;
}

table.shape-picker,
div.settings,
body#uputstvoHTML {
    /* background-color: #ebf79c; */
    background-color: #ccc98e;
}

table.shape-picker {
    margin: 20px;
    border: 5px solid black;
    background-color: #ebf79c;
}

td.shape-picker {
    width: 35px;
    border: 0px solid white;
}

.difficulty label {
    font-size: 20px;
}

button#start,
button#backToBeginning {
    background-color: #f7b614;
    border: 3px solid black;
    font-size: 30px;
    font-weight: bold;
}

button#start:hover,
button#backToBeginning:hover {
    background-color: #ebf79c;
}

.settings-pill {
    background-color: #ebf79c;
    width: 50%;
    border-radius: 30px;
    border: 5px solid black;
}


/* tetris-igra */

body#igraHTML {
    background-color: #ccc98e;
}

#info {
    background-color: gray;
}

#info #nextShapePreview {
    /* background-color: #ebf79c; */
    /* padding-bottom: 10px; */
    width: auto;
}

.roundedBorder {
    border-radius: 30px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-color: #ebf79c;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

#topContent {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#bottomContent {
    display: flex;
    justify-content: center;
}

#mainPlayArea {
    background-color: #ccc98e;
    padding: 40px;
}

tr {
    height: 35px;
    margin: 5px;
}

td {
    width: 35px;
    /* border: 1px solid black;
    border-left-width: 1px;
    border-right-width: 1px; */
}



#mainPlayArea table {
    border: 5px solid black;
    background-color: #ebf79c;
}

td.ghost {
    opacity: 0.15;
}

td.red {
    border: 5px solid rgb(96, 0, 0);
    background-color: rgb(201, 64, 64);
}

td.green {
    border: 5px solid darkgreen;
    background-color: rgb(42, 176, 42);
}

td.blue {
    border: 5px solid darkblue;
    background-color: rgb(83, 145, 181);
}

td.yellow {
    border: 5px solid #f7b614;
    background-color: yellow;
}

td.purple {
    border: 5px solid rgb(42, 4, 42);
    background-color: rgb(190, 9, 190);
}

td.orange {
    border: 5px solid rgb(104, 60, 6);
    background-color: orange;
}

td.cyan {
    border: 5px solid darkcyan;
    background-color: cyan;
}

td.ground {
    border: 5px solid black;
}

/* tetris-rezultati */

body#rezultatiHTML {
    font-family: Arial, sans-serif;
    background-color: #ccc98e;
}

.scoreboard {
    width: 500px;
    margin: 0 auto;
}


.pill {
    background-color: #e5783471;
    background-color: #ebf79c;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: black;
    border:2px solid black;
}

#resultsTitle {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.pill.myscore {
    background-color: #93a32d;
}

.place{
    margin-right: 30px;
}